<%= form_with(model: [post, post.comment.build]) do |f| %>
    <div class="form-conrol">
    <%= f.rich_text_area :body %>
    <%= f.submit "Reply", class: "btn btn-primary mt-1" %>
    </div>
<% end %>