<div class="container">
    <h1>My Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, fugit?</p>
    <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
    <%= link_to "Blog", posts_path, class: "btn btn-primary" %>
</div>